
.header {
    background-color: #121315d3;
    color: rgb(255, 255, 255);
    font-size: 1rem;

    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "rowdies", Arial, Helvetica, sans-serif;
}
.header h3 {
    color: whitesmoke;
}

.form {

    padding: 10px;
    justify-content: center;

}
ol,
ul {
    list-style: none;

}


li {
    display: inline-block
}

h2 {
    font-family: "rowdies", Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-family: "rowdies", Arial, Helvetica, sans-serif;
}
.container-marcas {

    background-color: rgba(0, 0, 0, 0.589);
    border: solid;
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
}


.container-marcas img {
    width: auto;
    height: auto;
    justify-content: center;
    align-content: center;

}

.container-marcas figcaption {
    color: white;
    font-size: 1.3em;
    font-style: italic;
}
.container-productos {
    border: solid black;
    background-color: white;

    display: flex;
    justify-content: center;
    text-align: center;

}
.logo {
    display: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
input {
    text-align: center;
    border-radius: 20px;
    font-size: 1em;
}
.titulo-tabla {
    text-decoration: underline;
    padding: 10px;
    margin: 10px;
}

p {
    text-align: center;
    font-size: 25px;


}


.probar-paleta:hover {
    color: #06d6a0;
}
.titulo-noticias {
    margin: 5px;
    padding: 10px;
    color: black;
}

.texto-noticias {
    margin: 10px;
    padding: 15px;
    
}

.link-paddel-tour {
    padding: 10px;
    margin: 10px;

}