.quienes__somos {
    font-family: $tipografia;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}

.quienes__somos--section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 100%;
    margin: 0 auto;
}

.imagen__quienes {
    background: url("../img/img-contacto-index/img-quienessomos.jpg") center/cover no-repeat;
}

.content {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}

.content span {
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

.links {
    margin: 15px 0;
}

.links li {

    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;

}

/*.item {
    border: 0.5px solid #777;


}*/
.item a {
    color: #777;
    text-decoration: none;
}


.links li:hover {
    border-color:map-get($colores, hoverli );
}

.links li:hover a {
    color: map-get($colores, hoverli );
}

.vertical-line {
    height: 30px;
    width: 1px;
    background: #777;
    margin: 0 auto;

}

.iconos {
    display: flex;
    align-items: center;
    padding: 15px 0;
    margin-left: 5px;
}

.iconos li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.iconos li i {
    font-size: 26px;
    opacity: 0.8;
}

.iconos li i:hover {
    color: map-get($colores, hoverli );
}


/*****************/


@media (min-width :580px) and (max-width: 992px) {
    .quienes__somos--section {
        grid-template-columns: 1fr;

        width: auto;
    }

    .imagen__quienes {

        height: 100vh;
        width: auto;
    }

    .content {
        height: 100vh;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .links li a {
        font-size: 14px;
    }

    .links {
        margin: 5px 0;
    }

    .links li {
        padding: 6px 10px;

    }

    .iconos li i {
        font-size: 15px;
    }
}

/*****************/


@media (min-width :320px) and (max-width: 579px ) {
    .quienes__somos--section {
        grid-template-columns: 1fr;

        width: auto;
    }

    .imagen__quienes {

        display: none;
    }

    .content {
        height: 100vh;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .links li a {
        font-size: 14px;
    }

    .links {
        margin: 5px 0;
    }

    .links li {
        padding: 6px 10px;

    }

    .iconos li i {
        font-size: 15px;
    }
}